.vegetal{
	background-color: green;
}
.herbivore{
	background-color: orange;
}
.carnivore{
	background-color: red;
}
.météorite{
	background-color: grey;
}
.météor{
	background-color: brown;
}
.apocalypse{
	background-color: black;
}